<!doctype html>
<html lang="en">

<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/user/loginpage/css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

	<link rel="stylesheet" href="/user/css/mycss.css">

</head>

<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">User Login</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url(/user/loginpage/images/bg-1.jpg);">
						</div>
						<div class="login-wrap p-4 p-md-5">


							<div class="d-flex">
								<div class="w-100">


									<% if (success) { %>
										<div class="text-success" style="font-weight: bold;">
											<%= success %>
										</div>
										<% } %>
								</div>
							</div>


							<% if (error) { %>
								<div class="text-danger">
									<%= error %>
								</div>
								<% } %>


									<form method="post" action="/login" class="signin-form">
										<div class="form-group mb-3">
											<label class="label" for="name">Username(enter you're email)</label>
											<input type="text" id="emailid" name="email" class="form-control" placeholder="Username"
												required>

												<small class="form-text text-danger" id="email-err"></small>

										</div>
										<div class="form-group mb-3">
											<label class="label" for="password">Password</label>
											<input  id="pwdid" type="password" name="password" class="form-control"
												placeholder="Password" required>
												<small class="form-text text-danger" id="pswd-err"></small>

											</div>

										<div class="form-group">
											<button type="submit" style="display: none;"  id="signin"
												class="form-control btn btn-primary rounded submit px-3">Sign
												In</button>
										</div>
										<div class="form-group d-md-flex">
											<div class="w-50 text-left">

											</div>

										</div>
									</form>
									<p class="text-center">Not a member? <a href="/signup">Sign Up</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<head>

	</section>

	<script src="/user/loginpage/js/jquery.min.js"></script>
	<script src="/user/loginpage/js/popper.js"></script>
	<script src="/user/loginpage/js/bootstrap.min.js"></script>
	<script src="/user/loginpage/js/main.js"></script>

	<script src="/user/js/loginvalidate.js"></script>


</body>

</html>