data: {
    labels: <%= JSON.stringify(categories) %>,
    datasets: [{
        data: <%= JSON.stringify(salesDataArray) %>,
        backgroundColor: ["rgba(255, 0, 0, 0.5)", "rgba(100, 255, 0, 0.5)", "rgba(200, 50, 255, 0.5)", "rgba(0, 100, 255, 0.5)"]
    }]
}
