<script src="/admin/homepage/vendors/scripts/core.js"></script>
	<script src="/admin/homepage/vendors/scripts/script.min.js"></script>
	<script src="/admin/homepage/vendors/scripts/process.js"></script>
	<script src="/admin/homepage/vendors/scripts/layout-settings.js"></script>
	<script src="/admin/homepage/src/plugins/jQuery-Knob-master/jquery.knob.min.js"></script>


	<script src="/admin/homepage/src/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
	<script src="/admin/homepage/src/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<script src="/admin/homepage/vendors/scripts/dashboard2.js"></script>

</body>

</html>